body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #b4b4b4;
  background-image: url('../public/vecteezy_blue-background_wk1120.jpg');
}
#__next{
    padding: 30px 80px;
    margin: 10px auto;
    max-width: 100%;
}

.min-h-screen{
    background-color: #f2f2f2;
}